{% extends "base.html" %}

{% block title %}Login | Bristol Community Events{% endblock %}

{% block content %}
  <div class="container my-5">
    <section class="secondary-hero py-5 d-flex flex-wrap align-items-center position-relative text-white"
      style="box-shadow: 0 0 5px rgba(0, 0, 0, 255); border: none;">
      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-12 col-lg-6 me-0 mb-4 mb-lg-0" id="carousel">
            <div class="carousel slide rounded-3 overflow-hidden me-3" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                  <img src="{{ url_for('static', filename='img/login_carousel/hamza-nouasria-unsplash.jpg') }}" alt="Dining Table at Party"
                    class="d-block w-100" style="height:400px;object-fit:cover;">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                  <img src="{{ url_for('static', filename='img/login_carousel/jakob-dalbjorn-unsplash.jpg') }}" alt="Social Gathering" class="d-block w-100"
                    style="height:400px;object-fit:cover;">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                  <img src="{{ url_for('static', filename='img/login_carousel/pablo-heimplatz-unsplash.jpg') }}" alt="Confetti at Party" class="d-block w-100"
                    style="height:400px;object-fit:cover;">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                  <img src="{{ url_for('static', filename='img/login_carousel/saile-ilyas-unsplash.jpg') }}" alt="Buffet" class="d-block w-100"
                    style="height:400px;object-fit:cover;">
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6 mb-4 mb-lg-0">
            <h2 class="ubuntu-medium mb-4 text-center">Login</h2>
            
            <form id="loginForm" action="{{ url_for('login') }}" class="needs-validation" method="post" novalidate>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingEmail" name="email" placeholder="name@example.com"
                  required>
                <label for="floatingEmail" class="text-dark">Email address</label>
                <div class="invalid-feedback">
                  Please enter a valid email address.
                </div>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password"
                  required>
                <label for="floatingPassword" class="form-label text-dark">Password</label>
                <div class="invalid-feedback">
                  Please enter your password.
                </div>
              </div>
              <div>
                <button type="submit" class="btn btn-outline-light clear-btn w-100 mt-3">Login</button>
              </div>
            </form>
            
            <div class="d-flex justify-content-between align-items-center my-3">
              <div class="form-check me-3">
                <input class="form-check-input" type="checkbox" id="rememberMe" name="rememberMe" form="loginForm">
                <label class="form-check-label me-2" for="rememberMe">Remember Me</label>
              </div>
              <div class="text-end">
                <a href="{{ url_for('signup') }}" class="text-white">Don't have an account? Sign Up</a>
              </div>
            </div>
            
            <div class="text-center">
              <hr>
              <p class="mb-3">Or login with:</p>
              <div class="d-flex justify-content-center gap-3 mb-3">
                <button type="button" class="btn btn-outline-light">
                  <i class="fab fa-google"></i>
                </button>
                <button type="button" class="btn btn-outline-light">
                  <i class="fab fa-apple"></i>
                </button>
                <button type="button" class="btn btn-outline-light">
                  <i class="fab fa-facebook-f"></i>
                </button>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
  </div>
  
  <script>
    (function () {
      'use strict'
      var forms = document.querySelectorAll('.needs-validation')
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
            form.classList.add('was-validated')
          }, false)
        })
    })()
  </script>
{% endblock %}